# SSL configuration template for production
# Place certificates in nginx/ssl/ and uncomment in default.conf

# server {
#     listen 443 ssl http2;
#     server_name lumiabeauty.ir www.lumiabeauty.ir;
#
#     ssl_certificate /etc/nginx/ssl/fullchain.pem;
#     ssl_certificate_key /etc/nginx/ssl/privkey.pem;
#     ssl_protocols TLSv1.2 TLSv1.3;
#     ssl_prefer_server_ciphers on;
#
#     # ... same location blocks as HTTP server ...
# }
#
# server {
#     listen 80;
#     server_name lumiabeauty.ir www.lumiabeauty.ir;
#     return 301 https://$host$request_uri;
# }
